*~
*#*
*.pyc
*.pyo
*.egg-info
/.installed.cfg
/.pydevproject
/.project
/.DS_Store
/.mr.developer.cfg
/.settings/
/pip-selfcheck.json
/env/
/parts/
/bin/
/eggs/
/downloads/
/develop-eggs/
/src/packages/
/var/
/devsrc/
/docs/Makefile
/docs/make.bat
/dist/
/coverage/
/include/
/lib/
/local/
/py2_zodb3/
/py2_zodb5/
/py3_zodb5/
/.coverage
/htmlcov/
